html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f5f5f5;
    font-family: "微软雅黑";
    font-size: 14px;
}

.wrapper {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .wrapper {
        width: 1170px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .wrapper {
        width: 1000px;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        width: 800px;
    }
}


ul,
ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 16px;
    margin: 0;
}