.content {
  width: 100%;
  overflow: hidden;
}

.left-content {
  float: left;
  width: 74%;
}
.left-content .carousel {
  margin-bottom: 10px;
}
.left-content .carousel img {
  width: 100%;
}
.left-content .query {
  border: 1px solid #eee;
  background: #fff;
  padding: 16px;
  margin-bottom: 15px;
  font-size: 15px;
}
.left-content .query .row {
  padding: 10px 0;
  border-bottom: dashed 1px #e6e6e6;
  overflow: hidden;
}
.left-content .query .row .dt {
  float: left;
  color: #aaa0a0;
  width: 75px;
}
.left-content .query .row .dd {
  float: left;
  width: 750px;
}
.left-content .query .row .dd ul li {
  float: left;
  padding: 0 10px;
  padding-bottom: 5px;
}
.left-content .query .row .dd ul li a {
  color: #3f3e3e;
  text-decoration: none;
}
.left-content .query .row .dd ul li a.active, .left-content .query .row .dd ul li .resources > .title a:hover, .left-content .resources > .title .query .row .dd ul li a:hover {
  color: #e22727;
}
.left-content .query .row .dd input {
  margin-left: 5px;
  height: 28px;
  width: 600px;
  border: 1px solid #eee;
}
.left-content .query .row .dd input:focus {
  border: 1px solid #ec8c8c;
}
.left-content .query .row .dd button {
  margin-left: 20px;
  height: 28px;
  color: #fff;
  border: 0;
  border-radius: 20px;
  padding: 0 30px;
  background-color: #e22727;
  cursor: pointer;
}
.left-content .condition {
  padding: 0 15px 15px;
  font-size: 15px;
  overflow: hidden;
}
.left-content .condition span {
  float: left;
  color: #aaa0a0;
  width: 75px;
}
.left-content .condition ul {
  float: left;
  margin-left: 5px;
}
.left-content .condition ul li {
  float: left;
  padding: 0 5px;
  margin-right: 10px;
  border: 1px solid #fcd6d6;
  color: #f56c6c;
  background-color: #fef0f0;
  text-align: center;
  cursor: default;
}
.left-content .condition ul li i {
  cursor: pointer;
  padding-left: 5px;
}
.left-content .resources {
  padding: 16px;
  background-color: #fff;
}
.left-content .resources > .title {
  border-bottom: solid 1px #eee;
}
.left-content .resources > .title a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  color: #756b6b;
  margin-right: 30px;
  padding-bottom: 10px;
}
.left-content .resources > .title a.active, .left-content .resources > .title a:hover {
  color: #e33f3f;
  border-bottom: solid 2px #e33f3f;
}
.left-content .resources .list li {
  padding: 8px 0;
  overflow: hidden;
  position: relative;
  border-bottom: dashed 1px #e6e6e6;
}
.left-content .resources .list li .dt {
  float: left;
}
.left-content .resources .list li .dd {
  float: left;
  margin-left: 20px;
}
.left-content .resources .list li .dd .title {
  color: #2e2e2e;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-bottom: 18px;
  overflow: hidden;
}
.left-content .resources .list li .dd .title:hover {
  color: #e33f3f;
}
.left-content .resources .list li .dd .tags {
  float: left;
}
.left-content .resources .list li .dd .tags ul li {
  float: left;
  font-size: 12px;
  margin-right: 10px;
  padding: 0 7px;
  border-radius: 4px;
  background-color: #e1ecf4;
  color: #0077cc;
  cursor: pointer;
}
.left-content .resources .list li .detail {
  color: #a8a8a8;
  float: right;
  font-size: 12px;
  padding-right: 5px;
  margin-top: 42px;
}
.left-content .resources .list li .detail span {
  padding-right: 5px;
}
.left-content .resources .list li .detail a {
  color: #a8a8a8;
  text-decoration: none;
}
.left-content .resources .list li .detail a:hover {
  color: #5aa0cc;
}
.left-content .resources .list li .price {
  position: absolute;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.right-content {
  float: right;
  width: 25%;
}
.right-content .ads img {
  margin-bottom: 8px;
}
.right-content .user-module {
  padding: 16px;
  margin-bottom: 15px;
  border: 1px solid #e64620;
}
.right-content .user-module h2 {
  margin-top: 0;
  color: #ec5f3c;
  text-align: center;
}
.right-content .user-module .user {
  overflow: hidden;
}
.right-content .user-module .user .photo {
  float: left;
}
.right-content .user-module .user .photo img {
  border-radius: 15px;
}
.right-content .user-module .user .detail {
  float: left;
  margin-left: 20px;
}
.right-content .user-module .user .detail p {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
}
.right-content .user-module .user .detail .level em {
  color: #e64620;
}
.right-content .user-module .upload {
  margin-top: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #e64620;
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
}
.right-content .hot-resources, .right-content .hot-tags {
  padding-top: 15px;
  margin-bottom: 15px;
  background-color: #fff;
}
.right-content .hot-resources h3, .right-content .hot-tags h3 {
  padding-left: 15px;
  margin: 0;
  border-left: 2px solid #e64620;
  color: #e64620;
}
.right-content .hot-resources ul, .right-content .hot-tags ul {
  padding: 15px;
}
.right-content .hot-resources ul li, .right-content .hot-tags ul li {
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.right-content .hot-resources ul li .title, .right-content .hot-tags ul li .title {
  font-size: 15px;
  font-weight: bold;
}
.right-content .hot-resources ul li .title a, .right-content .hot-tags ul li .title a {
  color: #000;
  text-decoration: none;
}
.right-content .hot-resources ul li .title a:hover, .right-content .hot-tags ul li .title a:hover {
  color: #e33f3f;
}
.right-content .hot-resources ul li .detail, .right-content .hot-tags ul li .detail {
  color: #888;
}
.right-content .hot-resources ul li .detail .downloads, .right-content .hot-tags ul li .detail .downloads {
  float: right;
  cursor: default;
}
.right-content .hot-resources .more, .right-content .hot-tags .more {
  color: #e64620;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #e64620;
  text-decoration: none;
  display: block;
  text-align: center;
}
.right-content .hot-resources .more:hover, .right-content .hot-tags .more:hover {
  background-color: #e64620;
  color: #fff;
}
.right-content .hot-tags ul li {
  display: inline-block;
  padding: 0 9px;
  margin: 0 10px 10px 0;
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  color: #39739d;
  background: #e1ecf4;
  cursor: pointer;
}

/*# sourceMappingURL=index-content.css.map */
